@media (min-width: 48em /*768px*/) {

	/***** VARIABLES *****/

	$color-dark: #58585a;
	$color-accent: #039BE5;
	$color-extradark: #333;
	$color-lightest: #fff;

	/***** HEADER *****/
	.logo {
		width: 20em;
	}

	nav {
		display: block;
		width: auto;
		line-height: 4em;
		position: static;
		background: none;
		float: right;

		a {
			color: $color-lightest;
		}

		.submenu {
			position: fixed;
			top: 5em;
			right: 11em;
			padding: 0 1em;

			li {
				display: block;
			}
		}

		.submenu-show {
			display: block;
		}
	}

	nav li {
		display: inline-block;
		padding: 0 0.29em;
	}

	nav ul ul {
		display: none;
	}

	nav ul li:hover > ul {
		display: block;
	}

	.mobile-nav {
		display: none;
	}

	h2.page-title {

		/*margin: 2em 0 0 0;*/
	}

	/***** MAIN *****/
	.workspace {
		padding: 0.5em;
	}

	.workspace h2 {
		padding: 0.25em 0 0.5em 0;
	}

	.workspace-slider {
		width: 85%;
		margin-right: auto;
		margin-left: auto;
	}

	.workspace-display {
		background-color: rgba(100,100,100,100.5);
		overflow: hidden;
	}

	// .work img {
	// 	margin: 1.59%;
	// }

	.grid-item {
		width: 30%;
		margin: 1% 1.59%;
	}

}